/* Generales */

.text-gray{
	color: #767474
}

.text-white{
  color: white;
}

.subrayado{
	text-decoration: underline;
}

.mini{
  font-size: .9em;
}

.font-13em {
  font-size: 1.3em;
}
.font-9em {
  font-size: .9em;
}

.font-15em {
  font-size: 1.5em;
}

/* paddings y margins */
.mt-2{
	margin-top: 2%;
}

.mt-3{
	margin-top: 3%;
}

.pl-1{
	padding-left: 1%;
}

.pr-2{
  padding-right: 2%;
}

.mt-10{
  margin-top: 10%;
}

/* Modificaciones de Bootstrap */

.navbar-default {
  background-color: #B7B7B7;
  border-color:#B7B7B7;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.nav-tabs > li > a {
  margin-right:2.5em;
  margin-top: 3em;
  line-height: 1.42857143;
  border: 1px solid transparent;
}


/*--------------------------*/


/*Fondo*/
.bg-gray{
  background-color:#B7B7B7;
}

/*Información*/
.info{
  border-bottom: 1px solid #C4C4C4;
  font-size: 12px;
}
.info li{
  list-style: none;
}

/*Magazines*/

#magazine h4{
  margin-bottom: 0;
  margin-top: 0;
  padding: 4%
}
/*Footer*/
#footer .container{
  border-top: 4px solid gray;
}
#footer li{
  list-style: none;
}
#footer i{
  padding-right: 2%;
}
ul{
  padding-left: 0;
}

.historia {
  background-color: gray;
  width: 80%;
  height: 2em;
  padding: 2%;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.derecha {
  margin-left: 15em;
  margin-bottom: 1em;
}
.web {
  background-color: black;
  color: white;
  width: 30%;
  height: 2em;
  padding: 1% 5% 1% 5%;
  text-align: center;
  font-size: 1.2em;
  margin-right: 10%;

}
.foto {
  background-color: gray;
  color: black;
  width: 100%;
  height: 20em;
  text-align: center;
  padding-top: 90px;
  font-size: 20px;
  margin-bottom: 30px;
}

.boxgray-video {
  background-color: #DADADA;
  width: 100%;
  height: 500px;
  padding-left: 6px;
  margin-bottom: 10px;
}
.boxwhite-video {
  background-color: #FFFFFF;
  width: 98%;
  height: 180px;
  border: 1px solid black;
}
.boxgray-rep {
  background-color: #ECECEC;
  border: 1px solid black;
  width: 98%;
  height: 50px;
  border-top: hidden;
  padding-top: 15px;
  padding-left: 5px;
}
.play {
  width: 80%;
  border: 2px solid white;
  margin-top: -12px;
  margin-left: 1.3em;
}
.glyphicon-volume-up {
  left: 83% !important;
  top: -30px !important;
}
.glyphicon-fullscreen {
  left: 87% !important;
  top: -30px !important;
}


.enero {
  background-color: gray;
  width: 5em;
  height: 60px;
  text-align: center;
  padding-bottom: 1%;
  margin-top: 2em;
}
.parrafo {
  left: 130px;
  position: absolute;
  bottom: 355px;
}


/* Responsive */

@media (min-width: 150px) and (max-width:500px) {
	/* Ajusta icono de casita y enlaces de noticias y RSS al hacer la pantalla pequeña ≡ */
	.mt-3{
	margin-top: 7%;
}

}